.badge.border.gold {
    border:1px solid #EFCA6F !important;
}

.card {
    &.green {
        background-color: #023641;
    }
    &.blue {
        background-color: #060C30;
    }
    &.green,&.blue {
        border-color: #EFCA6F;
        border-width: 2px;
        color: #fff;
        .card-title {
            color: #EFCA6F;
        }
    }
}